doctype html
html(lang="en")
	include includes/base/head.jade

	body

		.container
			h1 Heading
			p Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit. Cupiditate velit reprehenderit dolor itaque! Totam, maxime vel mollitia necessitatibus! Ad, quidem earum distinctio aliquid. Quisquam itaque obcaecati, architecto ipsam iste quam!
			h2 Heading
			h3 Heading
			h4 Heading
			h5 Heading
			h6 Heading
			hr



			form

				.form-body

					.row-input

						.b-input_col-6
							input
						.b-input_col-6
							input

					.row-input
						input

					.row-input
						textarea Message

				button.btn-primary Отправить



			table.table

				thead

					tr

						th 1
						th 2
						th 3
						th 4
						th 5
				tbody

					tr
						td Lorem
						td Lorem
						td Lorem
						td Lorem
						td Lorem

					tr
						td Lorem
						td Lorem
						td Lorem
						td Lorem
						td Lorem

					tr
						td Lorem
						td Lorem
						td Lorem
						td Lorem
						td Lorem

					tr
						td Lorem
						td Lorem
						td Lorem
						td Lorem
						td Lorem

					tr
						td Lorem
						td Lorem
						td Lorem
						td Lorem
						td Lorem

			table.table_odd

				thead.thead

					tr
						th 1
						th 2
						th 3
						th 4
						th 5

				tbody

					tr
						td Lorem
						td Lorem
						td Lorem
						td Lorem
						td Lorem

					tr
						td Lorem
						td Lorem
						td Lorem
						td Lorem
						td Lorem

					tr
						td Lorem
						td Lorem
						td Lorem
						td Lorem
						td Lorem

					tr
						td Lorem
						td Lorem
						td Lorem
						td Lorem
						td Lorem

					tr
						td Lorem
						td Lorem
						td Lorem
						td Lorem
						td Lorem



		script(
			src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" )

		script(
			src="app/js/specific/app.js" )