br {

	&._mb-none {

		+ ._br-indemn {

			._mx_md-mobile({
				display: inline;
			});
		}
	}

	&._mb-only {

		+ ._br-indemn {
			display: inline;

			._mx_md-mobile({
				display: none;
			});
		}
	}
}