input {

	&[type="checkbox"],
	&[type="radio"] {
		cursor: pointer;
	}
}

input,
textarea,
.jq-selectbox {
	display: block;
	width: 100%;
}

input, .input,
textarea {
	padding: @pd_vert-input @pd_horiz-input;
	border: @brd-input solid @brd_c-input;
	box-sizing: border-box;
	border-radius: @brd_rd-input;

	background: @bg-input;

	color: @c-input;
	font-size: @fsz-input;
	line-height: @h-input - @brd-input*2 - @pd_vert-input*2;

	._mx_placeholder(@placeholder, transparent, ellipsis);
}

input, .input {
	height: @h-input;
}

textarea {
	height: @h-textarea;
	resize: none;

	overflow: auto;
}

label {
	display: @disp-label;

	vertical-align: top;

	color: @c-label;

	& + input,
	& + .e-input,
	& + textarea,
	& + .jq-selectbox {
		display: @disp-label;

		margin-top: @mb-label;
	}

	& > span,
	& > div
	& > input,
	& > textarea  {
		display: inline-block;
	}

	& > span {
		color: @c-label__span;
	}
}

.form-body {
	margin-bottom: @m-form-body;
}

.row-input {
	width: 100%;
}

.row-inputs {
	width: 100%;

	._mx_justify(~'.input-wrap');

	.input-wrap {
		width: @per-input_col-many;

		position: relative;
	}
}

.row-input,
.row-inputs {

	& + .row-input,
	& + .row-inputs {
		margin-top: @m-row-input;
	}
}

	.input-wrap {
		width: 100%;
	}

		.e-input {
			width: 100%;
			position: relative;
		}

.input-file {
	overflow: hidden;

	input {
		@h-input-file: 100%;

		width: 100%;
		height: @h-input-file;

		position: absolute;
		top: 0;
		left: 0;
		z-index: 3;

		opacity: 0;
		padding: @h-input-file;

		cursor: pointer;
	}
}

.checkbox {
	width: @w-checkbox;
	height: @h-checkbox;
	vertical-align: middle;

	border: @brd_w-checkbox solid @brd_c-checkbox;
	border-radius: @brd_rd-checkbox;

	background-color: @bg-checkbox;

	cursor: pointer;

	&.checked {
		border-color: @brd_c-checkbox_checked;
		background-color: @bg-checkbox_checked;

		.jq-checkbox__div {
			width: @w-checkbox__child;
			height: @h-checkbox__child;

			margin: (@h-checkbox - @brd_w-checkbox*2 - @h-checkbox__child)/2 0 0 (@w-checkbox - @brd_w-checkbox*2 - @w-checkbox__child)/2;
			border-radius: @brd_rd-checkbox__child;

			background-color: @bg-checkbox__child;
		}
	}

	&.focused {
		border-color: @brd_c-checkbox_focused;
	}


	&.disabled {
		opacity: 0.55;
		filter: alpha(opacity=55);
	}

	input {
		width: 0;
	}
}

.radio {
	width: @w-radio;
	height: @h-radio;
	vertical-align: middle;

	border: @brd_w-radio solid @brd_c-radio;
	border-radius: @brd_rd-radio;

	cursor: pointer;

	&.checked {
		border-color: @brd_c-radio_checked;

		background-color: @bg-radio_checked;

		.jq-radio__div {
			width: @w-radio__child;
			height: @h-radio__child;

			margin: (@h-radio - @brd_w-radio*2 - @h-radio__child)/2 0 0 (@w-radio - @brd_w-radio*2 - @w-radio__child)/2;
			border-radius: 50%;

			background: @bg-radio__child;
		}
	}

	&.focused {
		border-color: @brd_c-radio_focused;
	}

	&.disabled {
		opacity: 0.55;
		filter: alpha(opacity=55);
	}

	input {
		width: 0;
	}
}

.jq-selectbox {
	z-index: auto !important;  // nulls js style
	vertical-align: middle;
	color: @c-input;
	cursor: pointer;

	&:hover {

		.jq-selectbox__trigger-arrow {
			opacity: 1;
			filter: alpha(opacity=100);
		}
	}

	&.focused {

		&.jq-selectbox__select {
			border: @brd_w-selectbox solid #5794BF;
		}
	}

	&.disabled {

		.jq-selectbox__select {
			border-color: @brd_c-input;

			background: #F5F5F5;
			box-shadow: none;

			color: #888;
		}

		.jq-selectbox__trigger-arrow {
			opacity: 0.3;
			filter: alpha(opacity=30);
		}
	}

	&__select {
		padding: 0 @w-selectbox__trigger 0 @pd_horiz-input;
		border: @brd_w-selectbox solid @brd_c-input;
		border-radius: @brd_rd-input;

		background: @bg-input;

		font-size: @fsz-input;
		line-height: (@h-input - @brd_w-selectbox*2);

		&:hover {
			background-color: darken(@bg-input, 5%);
		}

		&:active {
			background: lighten(@bg-input, 5%);
		}
	}

	&__select-text {
		display: block;

		width: 100%;

		overflow: hidden;

		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__trigger {
		width: @w-selectbox__trigger;
		height: 100%;

		position: absolute;
		top: 0;
		right: 0;

		&-arrow {
			width: 0;
			height: 0;

			position: absolute;
			top: (@h-input - @brd_w-selectbox*2) / 2 - @brd_w-selectbox__trigger-arrow*0.5;
			right: @w-selectbox__trigger / 2 - @brd_w-selectbox__trigger-arrow;

			border: @brd_w-selectbox__trigger-arrow solid transparent;
			border-top-color: @black;

			overflow: hidden;

			opacity: 0.3;
			filter: alpha(opacity=30);
		}
	}

	&__dropdown {
		width: 100%;

		position: absolute;
		top: @h-input;
		z-index: 5;

		margin: 0;
		box-sizing: border-box;
		border: @brd_w-selectbox solid @brd_c-input;
		border-radius: @brd_rd-input;
		padding: 0;

		background: @white;

		ul {
			max-height: @h_mx-selectbox__ul;

			margin: 0;
			padding: 0;

			overflow: hidden;
		}

			li {
				padding: @pd_vert-selectbox__li @pd_horiz-selectbox__li;
				color: @c-selectbox__li;

				&.selected {
					background-color: @bg-selectbox__li_selected;
					color: @c-selectbox__li_selected;
				}

				&:hover {
					background-color: @bg-selectbox__li_hover;
					color: @c-selectbox__li_hover;
				}

				&.disabled {
					color: #AAA;
				}

				&.disabled:hover {
					background: none;
				}

				&.optgroup {
					font-weight: bold;
				}

				&.optgroup:hover {
					background: none;
					color: #231F20;
					cursor: default;
				}

				&.option {
					padding-left: 25px;
				}
			}
	}

	&__search {
		margin: @mg-selectbox__search;

		input {
			width: 100%;

			outline: none;

			margin: 0;
			box-sizing: border-box;
			border: @brd-input solid @brd_c-input;
			border-radius: @brd_rd-input;
			padding: @pd_vert-selectbox__search @pd_horiz-selectbox__search;

			color: @c-selectbox__search;

			-webkit-appearance: textfield;

			&::-webkit-search-cancel-button,
			&::-webkit-search-decoration {
				-webkit-appearance: none;
			}
		}
	}

	&__not-found {
		margin: @mg-selectbox__not-found;
		padding: @pd_vert-selectbox__not-found @pd_horiz-selectbox__not-found;
		background: @bg-selectbox__not-found;
	}
}

.jq-select-multiple {
	padding: @pd_vert-selectbox-multiple @pd_horiz-selectbox-multiple;
	border: @brd_w-selectbox-multiple solid @brd_c-selectbox-multiple;
	border-radius: @brd_rd-selectbox-multiple;

	background: @white;
	
	color: @brd_c-selectbox-multiple;

	cursor: default;

	&.focused {
		border-color: @brd_c-selectbox-multiple_focused;
	}

	&.disabled {
		border-color: @brd_c-input;

		background: #F5F5F5;
		box-shadow: none;

		color: #888;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		padding: 3px 9px;
		list-style: none;

		&:first-child {
			border-radius: @brd_rd-selectbox-multiple @brd_rd-selectbox-multiple 0 0;
		}

		&:last-child {
			border-radius: 0 0 @brd_rd-selectbox-multiple @brd_rd-selectbox-multiple;
		}

		&.selected {
			background: #08C;
			color: #FFF;
		}

		&.disabled {
			color: #AAA;
		}

		&.optgroup {
			font-weight: bold;
		}

		&.option {
			padding-left: 25px;
		}
	}

	&.disabled li.selected,
	& li.selected.disabled {
		background: @brd_c-input;
		color: @white;
	}
}