._mx_e-headings({
	color: @c-h;
	line-height: @headings-line-height;
});

h1, .h1 {
	margin-bottom: @mb-h1;

	font-size: @font-size-h1;
}

h2, .h2 {
	margin-bottom: @mb-h2;

	font-size: @font-size-h2;
}

h3, .h3 {
	margin-bottom: @mb-h3;

	font-size: @font-size-h3;
}

h4, .h4 {
	margin-bottom: @mb-h4;

	font-size: @font-size-h4;
}

h5, .h5 {
	margin-bottom: @mb-h5;

	font-size: @font-size-h5;
}

h6, .h6 {
	margin-bottom: @mb-h6;
	
	font-size: @font-size-h6;
}

.h-none {
	color: @c-text-base;
	font: @headings-font-weight @font-size-base e('/') @line-height-base @font-family-base;
	letter-spacing: 0;
	word-spacing: 0;

	text-transform: none;
}