.clfx {

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

/* .b-float_all() {

    &:extend(.clfx all);

    & > * {
        float: left;
    }
} */

.b-float() {

    &:extend(.clfx all);

    & > .item {
        float: left;
    }
}   

/* .b-float-r_all() {
   
       &:extend(.clfx all);
   
       & > * {
           float: right;
       }
   } */   

.b-float-r() {

    &:extend(.clfx all);

    & > .item {
        float: right;
    }
}   

/* .b-float-justify_all() {
  
      &:extend(.clfx all);
  
      & > * {
          float: left;
      }
  
      & > * + *:last-child {
          float: right;
      }
}  */  

.b-float-justify() {

    &:extend(.clfx all);

    & > .item {
        float: left;
    }

    & > .item + .item:last-child {
        float: right;
    }
}
